* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../resimler/bulut.jpg");
}
#container {
  width: 920px;
  margin: 5px auto;
}
header {
  background: url("../resimler/banner.jpg");
  width: 908px;
  height: 200px;
  border-radius: 5px;
}
nav{
    float: left;
    /*width: 200px;*/
    width: 30%;
    padding: 5px 5px 5px 0;
    
}
.sidebar{
    min-height: 400px;
    background-color: #fff;
}
section{
    float: left;
    /*width: 708px;*/
    width: 70%;
    padding: 5px 0;
}
.inner-section{
    min-height: 400px;
    background-color: #fff;
}
#container,.sidebar,.inner-section,footer, nav a{
    border: 1px solid #336699;
    border-radius: 5px;
    padding: 5px;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

footer{
    background-color: #fff;
    text-align: center;
}
footer a{
    text-decoration: none;
    margin-right: 10px;
}
section p{
    text-align: justify;
}

p img{
    float: left;
    margin-right: 15px;
}
h2{
    margin-bottom: 10px;
}

nav a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: lightblue;
}
nav a:hover{
    background-color: tomato;
    color: #fff;
}