*{
    box-sizing: border-box;
}
#gallery{
    width: 1000px;
    margin: 20px auto;
}
.item-container{
    width: 25%;
    float: left;
    padding: 10px;
}
.gallery-item{
    border: 1px solid #ccc;
    cursor: pointer;
}
.gallery-item:hover{
    border: 1px solid #777;
}
.gallery-item img{
    width: 100%;  
    object-fit: cover;
    object-position: 10% 30%;
    height: 200px;
}

.description{
    text-align: center;
    padding: 15px;
}
@media screen and (max-width:1000px){
    .item-container{
        width: 33.3333%; 
    }
}
@media screen and (max-width:750px){
    .item-container{
        width: 50%; 
    }
}
@media screen and (max-width:500px){
    .item-container{
        width: 100%; 
    }
}