#container{
    width: 1140px;
    background-color: blueviolet;
}
#other-posts{
    width: 25%;
    background-color: bisque;
    float: left;
}
#blog-post-container{
    width: 75%;
    background-color: aquamarine;
    float: left;
}

#outher-box{
    border: 1px solid red;
}
.tags{
    margin: 0;
    padding: 0;
}
.tags li{
    list-style-type: none;
    margin: 5px;
    display: inline;
}
.tags li a{
    text-decoration: none;
}